body {
  margin: 0px;
}
header {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  /* box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px; */
  font-family: "Quicksand", sans-serif;
}
#navUl {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  padding: 0px;
  padding-left: 5%;
  font-weight: bolder;
  margin: 0px;
}
#navUl li:hover {
  font-size: 17px;
}
#navUl img {
  width: 9%;
  padding-left: 0px;
}
nav a {
  color: rgb(76, 76, 76);
  font-weight: bolder;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  position: sticky;
}
header h1 {
  padding-top: 1%;
  text-align: center;
  margin: 0px;
  color: rgb(76, 76, 76);
  /* font-weight: bolder; */
}
#booknow {
  padding-right: 5%;
  border: none;
  background: none;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  color: rgba(202, 75, 75, 0.5);
  list-style: none;
}
#mainImg img {
  width: 100%;
  height: 500px;
}
.container {
  position: relative;
  text-align: center;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgba(243, 237, 237, 0.9);
  box-shadow: rgba(246, 248, 249, 0.9) 0px 8px 24px;
  text-shadow: 0 0 10px rgb(98, 98, 98);
  border-radius: 10px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 30px;
  padding: 5% 10%;
}
/* footer*/
a {
  color: #fff;
  text-decoration: none;
}
.social {
  position: fixed;
  top: 30%;
}
.social ul {
  padding: 0px;
  transform: translate(-270px, 0);
}
.social ul li {
  display: block;
  margin: 5px;
  background: rgba(0, 0, 0, 0.36);
  width: 300px;
  text-align: right;
  padding: 10px;
  border-radius: 0 30px 30px 0;
  transition: all 1s;
}
.social ul li:hover {
  transform: translate(110px, 0);
  background: rgba(255, 255, 255, 0.4);
}
.social ul li:hover a {
  color: #000;
}
.social ul li:hover i {
  color: #fff;
  background: rgba(0, 0, 0, 0.36);
  transform: rotate(360deg);
  transition: all 1s;
}
.social ul li i {
  margin-left: 10px;
  color: #000;
  background: #fff;
  padding: 10px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 20px;
  background: #ffffff;
  transform: rotate(0deg);
}

footer {
  bottom: 0px;
  width: 100%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#copyright {
  font-size: 12px;
  color: grey;
  font-family: "Quicksand", sans-serif;
}
#noBorderFooterEl {
  border-right: none;
}
.details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
}
.details p {
  color: gray;
  padding: 5px;
  border-right: 1px solid gray;
}

/*feedback*/
.feedbackSection h1 {
  font-family: "Quicksand", sans-serif;
  text-align: center;
}
.divF {
  display: flex;
  flex-direction: column;
  width: 25%;
  text-align: center;
}

.feedbackContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  font-family: "Quicksand", sans-serif;
  padding: 5%;
}
.feedBackName {
  font-size: smaller;
}

/*arrows*/

.right {
  height: 30px;
  width: 30px;
  background: none;
  border: solid gray;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  -webkit-transform: rotate(-45deg);
}

.left {
  height: 30px;
  width: 30px;
  background: none;
  border: solid gray;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

/* treatments*/
.treatments {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  background-color: rgba(202, 75, 75, 0.5);
  padding: 2% 5%;
  color: white;
}
.treatmentsContainer {
  padding: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: "Quicksand", sans-serif;
  text-align: center;
}

.treatmentCard img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  box-shadow: 0px 0px 57px -22px rgba(202, 75, 75, 0.5);
}

.treatmentCard {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  justify-content: space-between;
}

/* .treatmentCard button {
  border: none;
  padding: 10px 20px;
  color: rgba(202, 75, 75, 0.5);
  background-color: white;
  border-radius: 10px;
  border: 2px solid rgba(202, 75, 75, 0.5);
  font-size: 15px;
}

.treatmentCard button:hover {
  background-color: rgba(202, 75, 75, 0.5);
  border: none;
  color: white; 
}*/

/* CSS */
.treatmentCard button {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(202, 75, 75, 0.5);
  border-radius: 0.25rem;
  box-shadow: rgba(202, 75, 75, 0.5) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(202, 75, 75, 0.5);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.treatmentCard button:hover,
.treatmentCard button:focus {
  border-color: rgba(202, 75, 75, 0.5);
  box-shadow: rgba(202, 75, 75, 0.5) 0 4px 12px;
  color: rgba(202, 75, 75, 0.5);
}

.treatmentCard button:hover {
  transform: translateY(-1px);
}

.treatmentCard button:active {
  background-color: #f0f0f1;
  border-color: rgba(202, 75, 75, 0.5);
  box-shadow: rgba(202, 75, 75, 0.5) 0 2px 4px;
  color: rgba(202, 75, 75, 0.5);
  transform: translateY(0);
}

.shortDescription {
  font-weight: bolder;
  font-size: 18px;
}
